{% extends 'principal.html' %}
{% load static %}
{% block content %}
<!-- <p style="color: black;">Último valor de la propiedad 1: <span id="last_value1"></span></p>
<p style="color: black;">Último valor de la propiedad 2: <span id="last_value2"></span></p>
<p style="color: black;">Último valor de la propiedad 3: <span id="last_value3"></span></p> -->
<div class="cont_todo">
    <h1 style="text-align: center; margin-bottom: 20px;">Monitoreo en Tiempo Real</h1>
    <div class="contenedor_gra">
        <div id="interruptor-container" class="interruptor-container">
            <label class="switch">
                <input id="interruptor" type="checkbox" disabled>
                <span class="slider round"></span>
            </label>
            <span style="font-weight: bold; margin-left: 5px;" id="ventana-texto"> Ventana</span>
        </div>
        <div class="fila_gra">
            <!-- <div class="chart-value" id="chart1-value">Valor actual: </div>
            <div class="chart-value" id="chart1-value">Valor actual: </div> -->
            <canvas class="graficos" id="chart1"></canvas>
            <canvas class="graficos" id="chart4"></canvas>
        </div>
        <div class="fila_gra">
            <canvas class="graficos" id="chart3"></canvas>
            <canvas class="graficos" id="chart2"></canvas>
        </div>
        <!-- <canvas class="graficos" id="chart5"></canvas>
        <canvas class="graficos" id="chart5"></canvas>  Si quieres que este quede solo, puedes ajustarlo -->
    </div>
</div>
{% endblock %}